[build-system]
requires = [
    "setuptools",
    "wheel"
    ]
build-backend = "setuptools.build_meta"

[tool.black]
# https://github.com/psf/black
line-length = 120
target-version = ["py39"]

[tool.autopep8]
max_line_length = 120
in-place = true
recursive = true
aggressive = 3