name: Containerise and Upload to DAFNI

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["publish-to-pypi"]
    branches: main
    types: [completed]

jobs:

  check_publish_to_pypi:
    name: Check Publish to PyPI
    runs-on: ubuntu-latest

    steps:
      - name: Check if Publish to PyPI succeeded
        id: check_publish
        run: |
          if [ "${{ github.event.workflow_run.conclusion }}" = "success" ]; then
            echo "The Causal Testing Framework has been published to PyPI"
          else
            echo "The Causal Testing Framework has not been published to PyPI"
          fi


  build_and_upload:
    name: Docker Build
    if: ${{ github.event_name == 'workflow_dispatch' || needs.check_publish_to_pypi.outputs.check_publish == 'success' }}
    runs-on: ubuntu-latest
    env:
      DAFNI_PARENT_ID: ${{ secrets.DAFNI_PARENT_ID }}
      DAFNI_USERNAME: ${{ secrets.DAFNI_USERNAME }}
      DAFNI_PASSWORD: ${{ secrets.DAFNI_PASSWORD }}
      CTF_VERSION: ${{ github.event.release.tag_name.replace('.', '') }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Build the container
        run: |
          docker build -t ctf:${CTF_VERSION} -f ./dafni/Dockerfile .
          docker save ctf:${CTF_VERSION}  | gzip > ctf${CTF_VERSION}.tar.gz

      - name: Install DAFNI-CLI and log in
        run: |
          python -m pip install dafni-cli
          dafni login

      - name: Upload to DAFNI
        run: |
          dafni upload model ./dafni/model_definition.yaml ctf${CTF_VERSION}.tar.gz --version-message "Version ${CTF_VERSION}. Uploaded via Github." --parent-id ${DAFNI_PARENT_ID} -y
          dafni logout
